<div class="weui_pull" id="panel" v-for="l in list">
    <div></div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{{l.title}}</h4>
                    <p class="weui_media_desc">{{l.desc}}</p>
                </div>
            </a>
        </div>
    </div>
</div>