<div style="margin-top: 5%">
    <validator name="validation">
        <form novalidate>
            <div class="weui_cells_title">用户登录</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">手机号</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="tel" name="tel" class="weui_input" required="" v-model="phone" pattern="[\d]{8,11}"
                               notmatchtips="请输入正确的手机号" placeholder="请输入手机号"  initial="off"
                               v-validate:phone="{ required: true, minlength: 11,maxlength:11 }" >
                    </div>
                    <div class="weui_cell_ft">
                        <i class="weui_icon_warn"></i>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">密码</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="password" name="password" class="weui_input" v-model="code" required=""
                               pattern="[\w]{6,}" notmatchtips="密码至少6位" placeholder="请输入密码"  initial="off"
                               v-validate:code="{ required: true, minlength:6 }">
                    </div>
                    <div class="weui_cell_ft">
                        <i class="weui_icon_warn"></i>
                    </div>
                </div>
            </div>
            <p class="weui_cells_tips">
                <label v-if="$validation.phone.required">手机必填</label>
                <label v-if="$validation.phone.minlength">手机号码不能小于11位</label>
                <label v-if="$validation.phone.maxlength">手机号码不超过11位</label>
                <label v-if="$validation.code.minlength">密码至少6位</label>
            </p>
            <div class="weui_btn_area">
                <a href="javascript:;" id="loading" class="weui_btn weui_btn_primary js_btn" v-on:click="login">登录</a>
            </div>
        </form>
    </validator>
</div>

<div class="weui_dialog_alert" v-show="show">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
            <strong class="weui_dialog_title">错误信息</strong>
        </div>
        <div class="weui_dialog_bd">登录失败</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary" v-on:click="closeDialog">确定</a>
        </div>
    </div>
</div>

<div class="weui_loading_toast" v-show="toast">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>